<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form test</title>
</head>
<body>
    <h1>form表单学习测试</h1>
    <form action="">
        <!--用户名-->
        <div>
            <labal for="username">用户名</labal>
            <input  id="username"
                    type="text"
                    placeholder="请输入用户名"
                    minlength="3"
                    required
            >
        </div>

        <!--密码-->
        <div>
            <labal for="passord">密码</labal>
            <input  id="password"
                    type="password"
                    placeholder="请输入密码"
            >
        </div>

        <!--提交与重置-->
        <div>
            <input type="submit">
            <input type="reset">
        </div>
    </form>

</body>
</html>